apex_sdr_booking.json
{
  "name": "Apex SDR Pipeline — Call Booking",
  "nodes": [
    {
      "parameters": {
        "content": "## 📅 Apex SDR Pipeline — Call Booking\n\n**What this workflow does:**\nReceives a webhook from Instantly when a lead replies positively → finds their row in the Google Sheet → updates status to 'call_booked' and logs the Calendly booking link.\n\n**Trigger:** Instantly webhook (positive reply / meeting booked event)\n\n**Flow:**\nInstantly Webhook → Extract Lead Email → Find Sheet Row → Update Row (status = call_booked, booking link logged)\n\n**Setup:**\n1. In Instantly → Settings → Webhooks, add the Production webhook URL from the 'Instantly Webhook' node.\n2. Select the event type: 'Reply' or 'Meeting Booked' (whichever Instantly supports for your plan).\n3. Set your Calendly/Cal.com booking URL in the 'Update Sheet — Call Booked' node.",
        "height": 280,
        "width": 620,
        "color": 5
      },
      "id": "sticky-booking-overview",
      "name": "Sticky Note — Booking Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instantly-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-booking-webhook",
      "name": "Instantly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "apex-sdr-booking-webhook",
      "description": "Receives POST from Instantly on positive reply or meeting booked event. Copy the Production URL and paste it into Instantly Settings → Webhooks."
    },
    {
      "parameters": {
        "jsCode": "// Extract the lead email from the Instantly webhook payload.\n// Instantly webhook structure varies by plan — adjust field paths if needed.\n\nconst body = $input.first().json.body || $input.first().json;\n\n// Instantly sends lead data under different keys depending on event type.\n// Common fields: lead_email, email, contact_email\nconst leadEmail = (\n  body.lead_email ||\n  body.email ||\n  body.contact?.email ||\n  body.lead?.email ||\n  ''\n).toLowerCase().trim();\n\nconst eventType   = body.event_type || body.type || 'reply';\nconst campaignId  = body.campaign_id || body.campaign?.id || '';\nconst replySnippet = body.reply_text || body.text || body.snippet || '';\n\nif (!leadEmail) {\n  throw new Error('Instantly webhook payload did not contain a recognizable email field. Check payload structure and update this node.');\n}\n\nreturn [{\n  json: {\n    lead_email:     leadEmail,\n    event_type:     eventType,\n    campaign_id:    campaignId,\n    reply_snippet:  replySnippet,\n    received_at:    new Date().toISOString()\n  }\n}];"
      },
      "id": "node-extract-email",
      "name": "Extract Lead Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "description": "Parses the Instantly webhook payload and extracts the lead email. Throws a clear error if the email field can't be found, so it surfaces in n8n execution logs."
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "DEMO_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "lookupColumn": "Inventor Email",
        "lookupValue": "={{ $json.lead_email }}",
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "node-find-row",
      "name": "Find Sheet Row by Email",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 400],
      "description": "Looks up the lead's email in the Inventor Email column to find their row. If the lead is an attorney, you may need a second lookup on the Attorney Email column.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DEMO_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets — REPLACE WITH YOUR CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-row-found",
              "leftValue": "={{ $json['Patent Number'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-row",
      "name": "Row Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 400],
      "description": "Checks if the Google Sheet lookup returned a matching row. If not found, logs a warning and responds to Instantly with a 200 OK to prevent retries."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "DEMO_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Inventor Email": "={{ $('Extract Lead Email').item.json.lead_email }}",
            "Status":         "✅ Call Booked",
            "Notes":          "=Reply received {{ $('Extract Lead Email').item.json.received_at }}. Booking link sent: DEMO_CALENDLY_BOOKING_URL"
          },
          "matchingColumns": ["Inventor Email"],
          "schema": []
        },
        "options": {}
      },
      "id": "node-update-booked",
      "name": "Update Sheet — Call Booked",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 300],
      "description": "Updates the Sheet row: Status → Call Booked. Notes field logs the timestamp and the Calendly booking URL. Replace DEMO_CALENDLY_BOOKING_URL with your actual booking link.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DEMO_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets — REPLACE WITH YOUR CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Lead status updated to call_booked\"}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "description": "Sends a 200 OK back to Instantly to confirm receipt and prevent webhook retries."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Row not found — no update made\"}",
        "options": {}
      },
      "id": "node-respond-not-found",
      "name": "Respond 200 — Row Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 500],
      "description": "Returns 200 even when no row is found, so Instantly doesn't retry. Execution log will show the missing email for manual follow-up."
    }
  ],
  "connections": {
    "Instantly Webhook": {
      "main": [[{"node": "Extract Lead Email", "type": "main", "index": 0}]]
    },
    "Extract Lead Email": {
      "main": [[{"node": "Find Sheet Row by Email", "type": "main", "index": 0}]]
    },
    "Find Sheet Row by Email": {
      "main": [[{"node": "Row Found?", "type": "main", "index": 0}]]
    },
    "Row Found?": {
      "main": [
        [{"node": "Update Sheet — Call Booked", "type": "main", "index": 0}],
        [{"node": "Respond 200 — Row Not Found", "type": "main", "index": 0}]
      ]
    },
    "Update Sheet — Call Booked": {
      "main": [[{"node": "Respond 200 OK", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
