apex_email_triage.json
{
  "name": "Apex Operations \u2014 AI Email Triage (Demo)",
  "nodes": [
    {
      "parameters": {
        "content": "## \ud83d\uddc2\ufe0f Apex Operations \u2014 AI Email Triage\n\n**What this workflow does:**\nPolls Gmail every 5 min \u2192 AI classifies email \u2192 retrieves relevant internal doc \u2192 drafts reply \u2192 saves to Gmail Drafts \u2192 logs to HubSpot \u2192 notifies Slack.\n\n**\u26a0\ufe0f No email is ever sent automatically.** All drafts require human review.\n\n**Flow:**\nGmail Trigger \u2192 AI Categorize \u2192 Parse JSON \u2192 [IF new_inquiry \u2192 Services Doc] [ELSE \u2192 Category Doc] \u2192 Draft LLM \u2192 Gmail Draft \u2192 HubSpot Lookup \u2192 [IF exists \u2192 Update] [ELSE \u2192 Create] \u2192 Slack Switch \u2192 Slack Notify",
        "height": 260,
        "width": 600,
        "color": 5
      },
      "id": "7b095f83-7d7b-45d9-9d01-f8e09c4489cf",
      "name": "Sticky Note \u2014 Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## \ud83c\udfe2 HubSpot Find-or-Create Logic\n\nThe workflow searches HubSpot by sender email.\n\n- **Contact found** \u2192 Create a note on the existing record + update `last_inquiry_type` property.\n- **Contact not found** \u2192 Create a new contact (email, first name, last name, last_inquiry_type) then create the note.\n\nEither way, the triage log (category, priority, summary, AI draft) is always written as a HubSpot note.\n\n**Required scopes on your Private App:**\n`crm.objects.contacts.read` \u00b7 `crm.objects.contacts.write` \u00b7 `crm.objects.notes.write`",
        "height": 260,
        "width": 500,
        "color": 3
      },
      "id": "82563e0f-c777-489b-9674-099f8459e95d",
      "name": "Sticky Note \u2014 HubSpot Logic",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2304,
        0
      ]
    },
    {
      "parameters": {
        "content": "## \u2709\ufe0f Human Review Required\n\n**This node saves a DRAFT \u2014 it does NOT send email.**\n\nThe AI-generated response is written to Gmail Drafts only. A team member must open Gmail, review the draft, edit as needed, and send manually.\n\nThe draft is labelled `[DRAFT FOR REVIEW]` at the top so it is never accidentally sent as-is.",
        "height": 200,
        "width": 380,
        "color": 4
      },
      "id": "c95875ff-d2d9-46f6-9cf3-743640220918",
      "name": "Sticky Note \u2014 Gmail Draft",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        0
      ]
    },
    {
      "parameters": {
        "content": "## \u2705 SETUP CHECKLIST\n\n1. Create Gmail label **'Client Incoming'** and set up Gmail filters to apply it to inbound client emails.\n2. Create **HubSpot Private App** with scopes: `crm.objects.contacts.read`, `crm.objects.contacts.write`, `crm.objects.notes.write`. Copy the access token.\n3. Add custom HubSpot contact property **`last_inquiry_type`** (type: single-line text).\n4. Create Slack channels: **#sales**, **#account-management**, **#admin**. Ensure bot is invited to each.\n5. **Swap all DEMO_ placeholder credentials** for real values in every node.\n6. Verify Google Drive folder ID **13LPG5a-EBYRlxurpI1b0P_1TsAOE5CCn** is accessible by your Drive OAuth account.\n7. Set OpenAI API key with access to **gpt-4o**.",
        "height": 300,
        "width": 500,
        "color": 6
      },
      "id": "52aed0a9-6def-4a65-ab71-926107cbf65a",
      "name": "Sticky Note \u2014 Setup Checklist",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "Label_6787608680259355493"
          ]
        }
      },
      "id": "125b022f-ebff-466d-ad91-3186614fcd93",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        624,
        608
      ],
      "description": "Polls Gmail every 5 minutes for new client emails. Only processes emails not yet seen.",
      "credentials": {
        "gmailOAuth2": {
          "id": "eOyzPxDuGxrU64xH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email triage assistant for a B2B operations consulting firm. Analyze the email and return ONLY a valid JSON object with these exact fields: {\"category\": \"new_inquiry|client_support|billing|escalation\", \"priority\": \"critical|high|medium|low\", \"summary\": \"max 15 words describing the request\", \"route_to\": \"sales|account_manager|admin\"}. Return no other text.\n\n---\n\nFrom: {{ $json.from.name }} <{{ $json.from.value[0].address }}>\nSubject: {{ $json.subject }}\nBody:\n{{ $json.text }}"
      },
      "id": "1dd8554c-1cb7-4698-8a84-4fad7cd4868a",
      "name": "AI Categorize Email",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        848,
        608
      ],
      "description": "Classifies incoming email into category, priority, summary and routing using GPT-4o. Returns structured JSON."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "cf125ade-59b0-437a-ae94-546899a9c7f0",
      "name": "OpenAI \u2014 Categorize",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        832
      ],
      "description": "GPT-4o language model for email categorization. Connect via AI Gateway for free credits.",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst original = $('Gmail Trigger').item.json;\n\nlet parsed;\ntry {\n  const cleaned = raw.replace(/^```(?:json)?\\n?/i, '').replace(/```$/, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{ json: { parse_error: true, raw_response: raw, error: 'parse error' } }];\n}\n\nconst validCategories = ['new_inquiry', 'client_support', 'billing', 'escalation'];\nconst validPriorities = ['critical', 'high', 'medium', 'low'];\nconst validRoutes = ['sales', 'account_manager', 'admin'];\n\nif (!validCategories.includes(parsed.category) ||\n    !validPriorities.includes(parsed.priority) ||\n    !validRoutes.includes(parsed.route_to)) {\n  return [{ json: { parse_error: true, raw_response: raw, error: 'Invalid field values in AI response.' } }];\n}\n\nconst fromRaw = original.From || original.from || '';\nconst emailMatch = fromRaw.match(/<(.+?)>/);\nconst nameMatch = fromRaw.match(/^(.+?)\\s*</);\nconst senderEmail = emailMatch ? emailMatch[1] : fromRaw.trim();\nconst senderName = nameMatch ? nameMatch[1].trim() : senderEmail;\nconst nameParts = senderName.split(' ');\n\nreturn [{\n  json: {\n    sender_email: senderEmail,\n    sender_name: senderName,\n    sender_first_name: nameParts[0] || '',\n    sender_last_name: nameParts.slice(1).join(' ') || '',\n    subject: original.Subject || original.subject || '',\n    original_body: original.snippet || original.text || original.body || '',\n    timestamp: new Date().toISOString(),\n    category: parsed.category,\n    priority: parsed.priority,\n    summary: parsed.summary,\n    route_to: parsed.route_to,\n    parse_error: false\n  }\n}];"
      },
      "id": "20aa7e7d-daee-4c22-8e7f-117fd564a861",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        608
      ],
      "description": "Parses the LLM JSON response and merges triage fields with the original email data. Throws on malformed JSON so the error handler can catch it."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0BGW8J6SD6",
          "mode": "list",
          "cachedResultName": "tom"
        },
        "text": "=:warning: *Email triage failed \u2014 malformed AI response.*\nManual review needed for email from: {{ $('Gmail Trigger').item.json.from.value[0].address }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nPlease process this email manually.",
        "otherOptions": {}
      },
      "id": "08cf91e2-690e-489a-abdb-42ed834dd865",
      "name": "AI Parse Error \u2014 Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1072,
        832
      ],
      "description": "Fires if the AI returns malformed JSON. Sends an alert to #admin for manual review. Workflow stops here for this execution.",
      "webhookId": "50fff15b-7caf-4177-81fd-55464e5c4419",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ksokpfdGCUUDzJ8b",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "824efd19-0fc6-4ca2-af28-6c4e3b664a4b",
              "leftValue": "={{ $json.category }}",
              "rightValue": "new_inquiry",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3ace7c7-c848-45d6-8f5e-50f1bbcffc48",
      "name": "Is New Inquiry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        608
      ],
      "description": "Routes new inquiries to the Services Overview document. All other categories search for the most relevant internal document."
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1esIaycXlDZz5lE-1zILm8QOggDiWR6rp3jG23-5ChRM",
          "mode": "id"
        },
        "options": {}
      },
      "id": "60ac9497-21a8-47f1-be67-374c6c6f88d0",
      "name": "Get Services Overview Doc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        464
      ],
      "description": "Retrieves the Services Overview document to ground the AI draft for new inquiry emails.",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "juA82BWVrkGVW3Ks",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const category = $input.first().json.category;\n\nconst docMap = {\n  billing: '1Z396LRKYmC1ENInWY-X946U3NL5igobQ2-yhjrJo2n4',\n  escalation: '1thH0AsJQaDpaTo9JgNhXbN6YUlrYZk6WKcu5WFm4aJ4',\n  client_support: '1thH0AsJQaDpaTo9JgNhXbN6YUlrYZk6WKcu5WFm4aJ4'\n};\n\nconst fileId = docMap[category] || null;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    selected_file_id: fileId,\n    doc_fallback: fileId === null\n  }\n}];"
      },
      "id": "8198b66d-a617-45fd-9db0-1177d91bc61c",
      "name": "Select Doc by Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        752
      ],
      "description": "Selects the correct internal document based on email category. Billing emails get billing procedures; support/escalation emails get the FAQ."
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.selected_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "34fd35e3-efdd-45f6-81c9-39ab6205dbb4",
      "name": "Get Category Doc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        752
      ],
      "description": "Downloads the selected internal document. If no file matched the category, passes a fallback message to the draft LLM.",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "juA82BWVrkGVW3Ks",
          "name": "Google Drive account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "f27d4dcb-c0f0-46bb-8556-5d646f5b5194",
      "name": "Merge Doc Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2032,
        608
      ],
      "description": "Reunites the new_inquiry and existing-client document paths into a single stream before the draft LLM call."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n// Google Drive download returns binary data \u2014 text is in $binary or data field\n// For exported Google Docs (text/plain), content may be in item.data or needs binary read\nlet docContent = 'Documentation not found \u2014 please draft this response manually referencing your internal SOPs.';\n\nif (item.data) {\n  docContent = Buffer.from(item.data, 'base64').toString('utf8');\n} else if (item.text) {\n  docContent = item.text;\n}\n\n// Pull triage data from Parse AI Response node\nconst triage = $('Parse AI Response').item.json;\n\nreturn [{\n  json: {\n    sender_email: triage.sender_email,\n    sender_name: triage.sender_name,\n    sender_first_name: triage.sender_first_name,\n    sender_last_name: triage.sender_last_name,\n    subject: triage.subject,\n    body: triage.body,\n    timestamp: triage.timestamp,\n    category: triage.category,\n    priority: triage.priority,\n    summary: triage.summary,\n    route_to: triage.route_to,\n    doc_content: docContent.substring(0, 8000)  // cap at 8k chars for context window\n  }\n}];"
      },
      "id": "59f0e643-6ce0-4804-8e9e-a5036e473d7d",
      "name": "Prepare Doc Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        608
      ],
      "description": "Extracts plain text from the Google Drive download response. Falls back to a standard message if no document was retrieved."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional client communications assistant for a B2B operations consulting firm. Write a warm, concise reply to the email below. Sign off as \"The Apex Operations Team.\"\n\nReturn ONLY a JSON object with this exact field:\n{\"draft_text\": \"your full email reply here\"}\n\nNo other text. No markdown. Just the JSON object.\n\n---\n\nOriginal Email:\nFrom: {{ $json.sender_name }} <{{ $json.sender_email }}>\nSubject: {{ $json.subject }}\nCategory: {{ $json.category }}\nPriority: {{ $json.priority }}\nSummary: {{ $json.summary }}\n\nBody:\n{{ $json.original_body }}"
      },
      "id": "329ab4de-0285-43a3-b221-9ef81504f337",
      "name": "Draft Email Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2464,
        608
      ],
      "description": "Drafts a professional client email response grounded in internal documentation. Output goes to Gmail Drafts for human review \u2014 never auto-sends."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "27e6f410-e655-4b8a-9a9d-218c91dff105",
      "name": "OpenAI \u2014 Draft",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2464,
        832
      ],
      "description": "GPT-4o language model for email drafting. Connect via AI Gateway for free credits.",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst cleaned = raw.replace(/^```(?:json)?\\n?/i, '').replace(/```$/, '').trim();\n\nlet draft;\ntry {\n  const parsed = JSON.parse(cleaned);\n  draft = parsed.draft_text || cleaned;\n} catch (e) {\n  draft = cleaned;\n}\n\nif (!draft) {\n  throw new Error('Draft Email Response returned an empty result.');\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    draft_text: draft\n  }\n}];"
      },
      "id": "357d6e47-5b9f-4983-b7d6-a3b13aeca24c",
      "name": "Extract Draft Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        608
      ],
      "description": "Extracts the draft text from the OpenAI response and merges it with triage data for downstream nodes."
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Parse AI Response').item.json.subject }}",
        "message": "={{ $json.draft_text }}",
        "options": {}
      },
      "id": "3dc0d862-b232-43ba-a86b-f9c94049c10c",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2912,
        608
      ],
      "description": "Saves the AI-generated draft to Gmail Drafts. The team reviews and sends manually \u2014 no email is ever auto-sent.",
      "webhookId": "68a1fe8b-4f1f-46a2-acbf-799ac020916c",
      "credentials": {
        "gmailOAuth2": {
          "id": "eOyzPxDuGxrU64xH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer hsp_DEMO_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $('Parse AI Response').item.json.sender_email }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"email\", \"firstname\", \"lastname\", \"hs_object_id\", \"last_inquiry_type\"],\n  \"limit\": 1\n}",
        "options": {}
      },
      "id": "c8d26e4d-7b77-486b-9644-ea1d29a6acf3",
      "name": "HubSpot Search Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        608
      ],
      "description": "Looks up the sender in HubSpot by email address to find their existing contact record.",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "jb9SvTO1Ba7ij9TX",
          "name": "HubSpot OAuth2 API"
        },
        "httpHeaderAuth": {
          "id": "57KzU7vjIUE203UE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hsResponse = $input.first().json;\nconst categorized = $('Parse AI Response').item.json;\n\nlet contactId = null;\n\nif (hsResponse.results && hsResponse.results.length > 0) {\n  contactId = hsResponse.results[0].id;\n}\n\nreturn [{\n  json: {\n    ...categorized,\n    contact_id: contactId,\n    contact_exists: contactId !== null\n  }\n}];"
      },
      "id": "3dc5cc81-c72c-4dee-a9e9-5eac349bacfe",
      "name": "Extract Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        608
      ],
      "description": "Extracts the HubSpot contact ID from the search response. Sets contact_id to null if no match found or if API errored."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3bdfdf5c-e75a-4232-8e37-43e0ee36c27c",
              "leftValue": "={{ $json.contact_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d9262ddb-a15d-4971-b24d-a020486dea26",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3568,
        608
      ],
      "description": "Determines whether to update an existing CRM contact or create a new one."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer hsp_DEMO_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"last_inquiry_type\": \"={{ $json.category }}\"\n  }\n}",
        "options": {}
      },
      "id": "2310f965-0622-4f4d-9b23-86ef43818187",
      "name": "Update HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        464
      ],
      "description": "Logs the email triage result and AI draft as a HubSpot note. Updates the contact's last inquiry type property.",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "jb9SvTO1Ba7ij9TX",
          "name": "HubSpot OAuth2 API"
        },
        "httpHeaderAuth": {
          "id": "57KzU7vjIUE203UE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer hsp_DEMO_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "properties.hs_note_body",
              "value": "={{ $('Extract Contact ID').item.json.category }} - {{ $('Extract Contact ID').item.json.summary }} - From: {{ $('Extract Contact ID').item.json.sender_email }}"
            },
            {
              "name": "associations.0.to.id",
              "value": "={{ $('Extract Contact ID').item.json.contact_id }}"
            },
            {
              "name": "properties.hs_timestamp",
              "value": "={{ Date.now() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2697eba5-1fac-403d-bafb-6ab54c26993d",
      "name": "Create Note \u2014 Existing Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        464
      ],
      "description": "Creates a HubSpot note on the existing contact record logging the full triage result.",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "jb9SvTO1Ba7ij9TX",
          "name": "HubSpot OAuth2 API"
        },
        "httpHeaderAuth": {
          "id": "57KzU7vjIUE203UE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer hsp_DEMO_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "properties.email",
              "value": "={{ $('Parse AI Response').item.json.sender_email }}"
            },
            {
              "name": "properties.firstname",
              "value": "={{ $('Parse AI Response').item.json.sender_first_name }}"
            },
            {
              "name": "properties.lastname",
              "value": "={{ $('Parse AI Response').item.json.sender_last_name }}"
            },
            {
              "name": "properties.last_inquiry_type",
              "value": "={{ $('Parse AI Response').item.json.category }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bea14c80-a39b-4849-9dde-f76e7eebe931",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        752
      ],
      "description": "Creates a new HubSpot contact for first-time senders, then logs the triage result as a note.",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "jb9SvTO1Ba7ij9TX",
          "name": "HubSpot OAuth2 API"
        },
        "httpHeaderAuth": {
          "id": "57KzU7vjIUE203UE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer hsp_DEMO_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "properties.hs_note_body",
              "value": "={{ $('Extract Contact ID').item.json.category }} - {{ $('Extract Contact ID').item.json.summary }} - From: {{ $('Extract Contact ID').item.json.sender_email }}"
            },
            {
              "name": "associations.0.to.id",
              "value": "={{ $('Create HubSpot Contact').item.json.id }}"
            },
            {
              "name": "properties.hs_timestamp",
              "value": "={{ $('Extract Contact ID').item.json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "91716f2c-021f-4a39-9a82-685ae0956725",
      "name": "Create Note \u2014 New Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        752
      ],
      "description": "Creates a HubSpot note on the newly created contact, logging the full triage result.",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "jb9SvTO1Ba7ij9TX",
          "name": "HubSpot OAuth2 API"
        },
        "httpHeaderAuth": {
          "id": "57KzU7vjIUE203UE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8fa33404-f244-4215-9aed-b986f49bc5de",
      "name": "Merge HubSpot Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4224,
        608
      ],
      "description": "Reunites the existing-contact and new-contact paths before the Slack routing step."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "0ba60e70-542c-4ab3-870f-fcf2ebff857a",
                    "leftValue": "={{ $('Parse AI Response').item.json.route_to }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "36866d04-2d98-49e2-9858-e3f0fdb86e43",
                    "leftValue": "={{ $('Parse AI Response').item.json.route_to }}",
                    "rightValue": "account_manager",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_manager"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e2576011-cec1-4350-bbbe-fb21806d8d82",
                    "leftValue": "={{ $('Parse AI Response').item.json.route_to }}",
                    "rightValue": "admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "admin"
            }
          ]
        },
        "options": {}
      },
      "id": "06fb4254-7b87-4df6-80ab-ed0f1d6839ad",
      "name": "Route to Slack Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        4448,
        608
      ],
      "description": "Routes to the correct Slack channel based on route_to value: sales \u2192 #sales, account_manager \u2192 #account-management, admin \u2192 #admin."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#sales",
          "mode": "name"
        },
        "text": "=:email: *New client email triaged*\n*From:* {{ $('Extract Contact ID').item.json.sender_name }} <{{ $('Extract Contact ID').item.json.sender_email }}>\n*Category:* {{ $('Extract Contact ID').item.json.category }} | *Priority:* {{ $('Extract Contact ID').item.json.priority }}\n*Summary:* {{ $('Extract Contact ID').item.json.summary }}\n*HubSpot:* https://app.hubspot.com/contacts/{{ $vars.HUBSPOT_PORTAL_ID }}/contact/{{ $('Extract Contact ID').item.json.contact_id }}\n*Action required:* Gmail draft is ready for your review.",
        "otherOptions": {}
      },
      "id": "128c722b-b97e-48c5-92c3-ee982e91c3f1",
      "name": "Slack \u2014 #sales",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4672,
        464
      ],
      "description": "Notifies #sales that a new email has been triaged. Includes HubSpot contact link and reminder that the Gmail draft needs review.",
      "webhookId": "9dbc5884-b1be-4530-a379-68f69ab843d8",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ksokpfdGCUUDzJ8b",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#account-management",
          "mode": "name"
        },
        "text": "=:email: *New client email triaged*\n*From:* {{ $('Extract Contact ID').item.json.sender_name }} <{{ $('Extract Contact ID').item.json.sender_email }}>\n*Category:* {{ $('Extract Contact ID').item.json.category }} | *Priority:* {{ $('Extract Contact ID').item.json.priority }}\n*Summary:* {{ $('Extract Contact ID').item.json.summary }}\n*HubSpot:* https://app.hubspot.com/contacts/{{ $vars.HUBSPOT_PORTAL_ID }}/contact/{{ $('Extract Contact ID').item.json.contact_id }}\n*Action required:* Gmail draft is ready for your review.",
        "otherOptions": {}
      },
      "id": "eeabbba8-effa-4b7c-9253-c39ede0b52a7",
      "name": "Slack \u2014 #account-management",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4672,
        608
      ],
      "description": "Notifies #account-management that a new email has been triaged. Includes HubSpot contact link and reminder that the Gmail draft needs review.",
      "webhookId": "5b4ff799-4240-4963-8918-d32f4ff69c74",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ksokpfdGCUUDzJ8b",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#admin",
          "mode": "name"
        },
        "text": "=:email: *New client email triaged*\n*From:* {{ $('Extract Contact ID').item.json.sender_name }} <{{ $('Extract Contact ID').item.json.sender_email }}>\n*Category:* {{ $('Extract Contact ID').item.json.category }} | *Priority:* {{ $('Extract Contact ID').item.json.priority }}\n*Summary:* {{ $('Extract Contact ID').item.json.summary }}\n*HubSpot:* https://app.hubspot.com/contacts/{{ $vars.HUBSPOT_PORTAL_ID }}/contact/{{ $('Extract Contact ID').item.json.contact_id }}\n*Action required:* Gmail draft is ready for your review.",
        "otherOptions": {}
      },
      "id": "9c535139-4461-4bf4-89b6-b7a05ca06d67",
      "name": "Slack \u2014 #admin",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4672,
        752
      ],
      "description": "Notifies #admin that a new email has been triaged. Includes HubSpot contact link and reminder that the Gmail draft needs review.",
      "webhookId": "fb6c1503-f14b-4102-ac53-32c777e2f103",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ksokpfdGCUUDzJ8b",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Categorize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize Email": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Is New Inquiry?",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Parse Error \u2014 Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Inquiry?": {
      "main": [
        [
          {
            "node": "Get Services Overview Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Doc by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Services Overview Doc": {
      "main": [
        [
          {
            "node": "Merge Doc Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Doc by Category": {
      "main": [
        [
          {
            "node": "Get Category Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category Doc": {
      "main": [
        [
          {
            "node": "Merge Doc Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Doc Paths": {
      "main": [
        [
          {
            "node": "Prepare Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Doc Content": {
      "main": [
        [
          {
            "node": "Draft Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Email Response": {
      "main": [
        [
          {
            "node": "Extract Draft Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Draft Text": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "HubSpot Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Search Contact": {
      "main": [
        [
          {
            "node": "Extract Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact ID": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Update HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Contact": {
      "main": [
        [
          {
            "node": "Create Note \u2014 Existing Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note \u2014 Existing Contact": {
      "main": [
        [
          {
            "node": "Merge HubSpot Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Create Note \u2014 New Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note \u2014 New Contact": {
      "main": [
        [
          {
            "node": "Merge HubSpot Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge HubSpot Paths": {
      "main": [
        [
          {
            "node": "Route to Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Slack Channel": {
      "main": [
        [
          {
            "node": "Slack \u2014 #sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack \u2014 #account-management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack \u2014 #admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI \u2014 Categorize": {
      "ai_languageModel": [
        [
          {
            "node": "AI Categorize Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI \u2014 Draft": {
      "ai_languageModel": [
        [
          {
            "node": "Draft Email Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "071f67ee-52b3-444a-8654-5f5a971411e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "073025d91f98beae4652fe50c9a704be20279100d039029d4b599840f6d98e37"
  },
  "nodeGroups": [],
  "id": "rEiEZwd1PTKOOGF1",
  "tags": [
    {
      "updatedAt": "2026-07-11T08:52:06.272Z",
      "createdAt": "2026-07-11T08:52:06.272Z",
      "id": "NcIfSJuQ2jtB8bEw",
      "name": "email-triage"
    },
    {
      "updatedAt": "2026-07-11T08:52:06.247Z",
      "createdAt": "2026-07-11T08:52:06.247Z",
      "id": "fu55GOZJVUvu3IiO",
      "name": "portfolio"
    },
    {
      "updatedAt": "2026-07-11T08:52:06.298Z",
      "createdAt": "2026-07-11T08:52:06.298Z",
      "id": "x4OXzfpWU4wL0pRM",
      "name": "apex-demo"
    }
  ]
}